button.tracker {
	border: none;
	background-color: #597bc6;
	color: #fff;
	float:right;
	padding: 0 1em .1em 1em;
	margin: 0;
	line-height: 2em;
	height: 2em;
	font-size: .7em;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
button.tracker:hover,
button.tracker.active {
	background-color: #222;
}
